<!DOCTYPE html>
<html lang="en">
<head>
    <meta  http-equiv="Content-Type" content="text/html"  charset="UTF-8">
    <title>Title</title>
</head>
<body style="font-size: 30px">

<form method="post" action="/pay/webPay">
    订单号：<input type="text" name="out_trade_no" required><br/>
    订单名称：<input type="text" name="subject" required><br/>
    付款金额：<input type="text" name="total_amount" required><br/>
    body：<input type="text" name="body"><br/>
    <button style="width: 100%; height: 60px; alignment: center; background: blue" type="submit">支付</button>
</form>

</body>
</html>